body
{
    background: url('Screenshot 2025-12-15 231901.png') center / contain no-repeat fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.book
{
    padding-left: 700px;
    padding-right: 700px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.h1
{
    padding-top: 15px;
    font-style: Montserrat;
    color: rgb(123, 23, 210);
    padding-left: 20px;
}
.cont
{
    font-size: 17px;
    text-align: center;
    text-align: justify;
    padding-left: 15px;
    font-style:inherit
}
span
{
    background-color: yellow;
}
.quote
{
    margin: 10px 0;
    padding: 10px 10px;
    background: rgb(118, 185, 229);
    border-left: 6px solid rgb(15, 16, 13);
    font-style: italic;
}
.author-text 
{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
}

.author
{
    display: flex;
    gap: 9px;
    background: rgb(38, 92, 136);
    padding: 8px;
    border-radius: 8px;
    margin-top: 15px;
    text-align: justify;
    align-items: center;
}
.author-img 
{
    width: 400px;
    height: 100px;
    border-radius: 8px;
    background-image: url('Screenshot 2025-12-15 232501.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.name 
{
    color: rgb(211, 8, 66);
    font-weight: bold;
    font-size: 15px;
}
.footer 
{
    margin-top: auto;
    background-color:rgb(48, 141, 170);
    color: rgb(67, 55, 43);
    padding: 5px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left 
{
    display: flex;
    flex-direction: column;
}
.printed
{
    font-size: 14px;
}
.price 
{
    font-weight: bold;
    color: rgb(12, 12, 11);
    font-size: 18px;
}